{:paths ["src"]

 :deps
 {
  com.taoensso/timbre {:mvn/version "5.1.2"}
  com.fzakaria/slf4j-timbre {:mvn/version "0.3.19"}
  org.slf4j/slf4j-api {:mvn/version "1.7.21"}
  org.slf4j/log4j-over-slf4j {:mvn/version "1.7.30"}
  cheshire/cheshire {:mvn/version "5.10.0"}}

 :aliases
 {
  :build {:deps {io.github.tendant/simple-build {:git/tag "v0.0.27" :git/sha "e0d72af"}}
          :ns-default build}
  }}